<div class='container'>
  <h1>Eat Da Burger!</h1>

<div class='row'>
  <div class='col s6 devour-ed'>
    <h4>Ready To Be Devoured!</h4>
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li class='burgers'>
            <p>
              {{this.id}}. {{this.burger_name}}

              <form action="/update?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" class="waves-effect waves-light btn devour">Devour It!</button>
              </form>
            </p>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div id='right' class='col s6 devour-ed'>
    <h4>Devoured!</h4>
    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <li class='burgers'>
            <p>
              {{this.id}}. {{this.burger_name}}

              <form action="/update?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" class="waves-effect waves-light btn devour disabled">Devour It!</button>
              </form>
            </p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

  <h2>New Burger</h2>
  <form method="POST" action="/create" class="button-size">
    <div class='row'>
  	   <textarea class="materialize-textarea" type="text" name="burger_name"></textarea>
    </div>
    <div class='row'>
  	   <button id="submit" type="submit" class="waves-effect waves-light btn">Save Burger</button>
    </div>
  </form>
</div>
